// Colors definations
$color-primary: #e15a1d;
$color-secondary: #ac562e;
$color-white: #fff;
$color-offWhite: #e6e6e6;
$color-offWhiteLight: #ececec;
$color-offWhiteStrong: #e9e9e9;
$color-black: #000;
$color-offBlack: #333;
$color-offBlackLight: #8c8c8c;
$color-fadeGray: #c1c1c1;
